/* MAIN.CSS */
.card {
	width: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-top: 15px;
	margin-bottom: 15px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-heart {
	padding-right: 1.5rem;
}