<div class="card">
	<div class="card-content">
		<div class="level is-mobile">
			<div class="level-left">
				<div class="level-item">
					<figure class="image is-32x32">
						<img src="http://via.placeholder.com/32x32">
					</figure>
				</div>
				<div class="level-item">
					<a href="#">placeholder.io</a>
				</div>
			</div>
			<div class="level-right">
				<div class="card-heart">
					<div style="text-align: right;">1234 <i class="fas fa-heart"></i></div>
				</div>
			</div>
		</div>
		<div class="columns card-description">
			<div class="column is-one-quarter">
				<div class="card-image">
					<figure class="image is-3by2">
						<img src="http://via.placeholder.com/640x320">
					</figure>
				</div>
			</div>
			<div class="column auto">
				<div class="content">
					<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Phasellus nec iaculis mauris. <a>@bulmaio</a>. Hello my name is Oscar and I developed this card.</p>
					<div class="level card-stats is-mobile">
  						<div class="level-item has-text-centered">
    						<div>
    							<p class="heading is-7">Likes</p>
      							<p class="title is-7">123</p>
    						</div>
  						</div>
 						<div class="level-item has-text-centered">
    						<div>
    							<p class="heading is-7">Likes</p>
     							<p class="title is-7">456K</p>
    						</div>
  						</div>
  						<div class="level-item has-text-centered">
    						<div>
    							<p class="heading is-7">Donations</p>
      							<p class="title is-7">789</p>
    						</div>
  						</div>
					</div>
					<div class="tags">
						<span class="tag">Blockchain</span>
  						<span class="tag">Machine Learning</span>
  						<span class="tag">AI</span>
  						<span class="tag">Growth Hacking</span>
  						<span class="tag">Mainframe</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>