<div class="card">
	<div class="card-content">
		<div class="columns level">
			<div class="column level-item">
				<figure class="image is-32x32">
					<img src="http://via.placeholder.com/32x32">
				</figure>
			</div>
			<div class="column is-9 level-item">
				<a href="#">placeholder.io</a>
			</div>
			<div class="column is-2 level-right card-heart">
				<div style="text-align: right;">1234 <i class="fas fa-heart"></i></div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-one-fifth">
				<div class="card-image">
					<figure class="image is-16by9">
						<img src="http://via.placeholder.com/1920x1080">
					</figure>
				</div>
			</div>
			<div class="column">
				<div class="content card-description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Phasellus nec iaculis mauris. <a>@bulmaio</a>. Hello my name is Oscar and I developed this card.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Phasellus nec iaculis mauris. <a>@bulmaio</a>. Hello my name is Oscar and I developed this card.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Phasellus nec iaculis mauris. <a>@bulmaio</a>. Hello my name is Oscar and I developed this card.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Phasellus nec iaculis mauris. <a>@bulmaio</a>. Hello my name is Oscar and I developed this card.
				</div>
				<div class="level card-stats">
					<div class="is-3 level-item">aaa</div>
					<div class="is-3 level-item">bbb</div>
					<div class="is-3 level-item">ccc</div>
					<div class="is-3 level-item">ddd</div>
				</div>
			</div>
		</div>
	</div>
</div>