{% extends 'base.html' %}

{% block content %}
<div class="card">
	<div class="card-content">
		<div class="columns level">
			<div class="column level-item">
				<figure class="image is-32x32">
					<img src="http://via.placeholder.com/32x32">
				</figure>
			</div>
			<div class="column is-9 level-item">
				<a href="#">placeholder.io</a>
			</div>
			<div class="column is-2 level-right card-heart">
				<div style="text-align: right;">1234 <i class="fas fa-heart"></i></div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-one-fifth">
				<div class="card-image">
					<figure class="image is-16by9">
						<img src="http://via.placeholder.com/1920x1080">
					</figure>
				</div>
			</div>
			<div class="column">
				<div class="content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Phasellus nec iaculis mauris. <a>@bulmaio</a>.
					<a href="#">#css</a> <a href="#">#responsive</a>
					<br>
					<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}